<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LibraryWeb</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="Book">Book</a></li>
            <li><a href="BookType">BookType</a></li>
            <li><a href="Writer">Writer</a></li>
            <li><a href="Student">Student</a></li>
            <li><a href="Operation">Operation</a></li>
        </ul>
    </div>
</nav>
